@import "tailwindcss";

@theme {
  --color-gray-900: #111827;
  --color-gray-800: #1f2937;
  --color-gray-700: #374151;
  --color-gray-600: #4b5563;
  --color-gray-500: #6b7280;
  --color-gray-400: #9ca3af;
  --color-gray-300: #d1d5db;
  --color-purple-500: #8b5cf6;
  --color-purple-400: #a78bfa;
  --color-purple-600: #7c3aed;
  --color-cyan-500: #06b6d4;
  --color-cyan-400: #22d3ee;
  --color-cyan-600: #0891b2;
}
